@charset "UTF_8";

body{
    background-color:darkgray;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(11, 69, 69);
}

h1#principal{
    text-align: center;
    background-color: black;
    color: aliceblue;
}

h2{
    color:black
}
.basico{
    color: blue;
}
.intermediario{
    color: blueviolet;
}
.avançado{
    color: brown;
}
.primeira{
    font-weight: bolder;
    font-size: 50px
 
}